<!--Loading的动效-->
<div class="pricing">
	<ul>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader">loader</h3>
			</div>
			<div class="price-body">
				<div class="loader"></div>
			</div>
			<div class="price-foot">
				loader
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader1">loader1</h3>
			</div>
			<div class="price-body">
				<div class="loader1">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="price-foot">
				loader1
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader2">loader2</h3>
			</div>
			<div class="price-body">
				<div class="loader2"></div>
			</div>
			<div class="price-foot">
				loader2
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader3">loader3</h3>
			</div>
			<div class="price-body">
				<div class="loader3">
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="price-foot">
				loader3
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader4">loader4</h3>
			</div>
			<div class="price-body">
				<div class="loader4"></div>
			</div>
			<div class="price-foot">
				loader4
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader5">loader5</h3>
			</div>
			<div class="price-body">
				<div class="loader5"></div>
			</div>
			<div class="price-foot">
				loader5
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader6">loader6</h3>
			</div>
			<div class="price-body">
				<div class="loader6"></div>
			</div>
			<div class="price-foot">
				loader6
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader7">loader7</h3>
			</div>
			<div class="price-body">
				<div class="loader7"></div>
			</div>
			<div class="price-foot">
				loader7
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader8">loader8</h3>
			</div>
			<div class="price-body">
				<div class="loader8"></div>
			</div>
			<div class="price-foot">
				loader8
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader9">loader9</h3>
			</div>
			<div class="price-body">
				<div class="loader9"></div>
			</div>
			<div class="price-foot">
				loader9
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader10">loader10</h3>
			</div>
			<div class="price-body">
				<div class="loader10">
					<i></i><i></i>
				</div>
			</div>
			<div class="price-foot">
				loader10
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader11">loader11</h3>
			</div>
			<div class="price-body">
				<div class="loader11">
					<i></i>
				</div>
			</div>
			<div class="price-foot">
				loader11
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader12">loader12</h3>
			</div>
			<div class="price-body">
				<div class="loader12">
					<i></i>
				</div>
			</div>
			<div class="price-foot">
				loader12
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader13">loader13</h3>
			</div>
			<div class="price-body">
				<div class="loader13">
					<i></i><i></i>
				</div>
			</div>
			<div class="price-foot">
				loader13
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader14">solar</h3>
			</div>
			<div class="price-body">
				<div class="solar">
					<i class="mercury"></i>
					<i class="venus"></i>
					<i class="earth"></i>
					<i class="mars"></i>
					<i class="belt"></i>
					<i class="jupiter"></i>
					<i class="saturn"></i>
					<i class="uranus"></i>
					<i class="neptune"></i>
				</div>
			</div>
			<div class="price-foot">
				loader14
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-clip-rotate-pulse">ball-clip-rotate-pulse</h3>
			</div>
			<div class="price-body">
				<div class="ball-clip-rotate-pulse">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader15
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-grid-pulse">ball-grid-pulse</h3>
			</div>
			<div class="price-body">
				<div class="ball-grid-pulse">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader16
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="square-spin">square-spin</h3>
			</div>
			<div class="price-body">
				<div class="square-spin">
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader17
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-pulse">ball-pulse</h3>
			</div>
			<div class="price-body">
				<div class="ball-pulse">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader18
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-clip-rotate-multiple">ball-clip-rotate-multiple</h3>
			</div>
			<div class="price-body">
				<div class="ball-clip-rotate-multiple">
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader19
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-pulse-rise">ball-pulse-rise</h3>
			</div>
			<div class="price-body">
				<div class="ball-pulse-rise">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader20
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-rotate">ball-rotate</h3>
			</div>
			<div class="price-body">
				<div class="ball-rotate">
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader21
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-triangle-path">ball-triangle-path</h3>
			</div>
			<div class="price-body">
				<div class="ball-triangle-path">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader22
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-pulse-sync">ball-pulse-sync</h3>
			</div>
			<div class="price-body">
				<div class="ball-pulse-sync">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader23
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-spin-fade-loader">ball-spin-fade-loader</h3>
			</div>
			<div class="price-body">
				<div class="ball-spin-fade-loader">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader24
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="line-spin-fade-loader">line-spin-fade-loader</h3>
			</div>
			<div class="price-body">
				<div class="line-spin-fade-loader">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader25
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="pacman">pacman</h3>
			</div>
			<div class="price-body">
				<div class="pacman">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader26
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="semi-circle-spin">semi-circle-spin</h3>
			</div>
			<div class="price-body">
				<div class="semi-circle-spin">
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader27
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="triangle-skew-spin">triangle-skew-spin</h3>
			</div>
			<div class="price-body">
				<div class="triangle-skew-spin">
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader28
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-grid-beat">ball-grid-beat</h3>
			</div>
			<div class="price-body">
				<div class="ball-grid-beat">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader29
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-scale-ripple-multiple">ball-scale-ripple-multiple</h3>
			</div>
			<div class="price-body">
				<div class="ball-scale-ripple-multiple">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader30
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-scale-ripple">ball-scale-ripple</h3>
			</div>
			<div class="price-body">
				<div class="ball-scale-ripple">
					<div></div>
				</div>
			</div>
			<div class="price-foot">
				loader31
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="line-scale-pulse-out-rapid">line-scale-pulse-out-rapid</h3>
			</div>
			<div class="price-body">
				<div class="line-scale-pulse-out-rapid">
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader32
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="line-scale-pulse-out">line-scale-pulse-out</h3>
			</div>
			<div class="price-body">
				<div class="line-scale-pulse-out">
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader33
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="line-scale-party">line-scale-party</h3>
			</div>
			<div class="price-body">
				<div class="line-scale-party">
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader34
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="line-scale">line-scale</h3>
			</div>
			<div class="price-body">
				<div class="line-scale">
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader35
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="cube-transition">cube-transition</h3>
			</div>
			<div class="price-body">
				<div class="cube-transition">
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader36
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="ball-zig-zag">ball-zig-zag</h3>
			</div>
			<div class="price-body">
				<div class="ball-zig-zag">
		          <div></div>
		          <div></div>
		        </div>
			</div>
			<div class="price-foot">
				loader37
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="cupcake">cupcake</h3>
			</div>
			<div class="price-body">
				<div id = "cupcake" class = "box">
				    <span class = "letter">L</span>
				    <div class = "cupcakeCircle box">
				    <div class = "cupcakeInner box">
				        <div class = "cupcakeCore box"></div>
				    </div></div>
				    <span class = "letter box">A</span>
				    <span class = "letter box">D</span>
				    <span class = "letter box">I</span>
				    <span class = "letter box">N</span>
				    <span class = "letter box">G</span>
				</div>
			</div>
			<div class="price-foot">
				loader38
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="timer">timer</h3>
			</div>
			<div class="price-body">
				<div class="timer"></div>
			</div>
			<div class="price-foot">
				loader39
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="typing_loader">typing_loader</h3>
			</div>
			<div class="price-body">
				<div class="typing_loader"></div>
			</div>
			<div class="price-foot">
				loader40
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="location_indicator">location_indicator</h3>
			</div>
			<div class="price-body">
				<div class="location_indicator"></div>
			</div>
			<div class="price-foot">
				loader41
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="dashboard">dashboard</h3>
			</div>
			<div class="price-body">
				<div class="dashboard"></div>
			</div>
			<div class="price-foot">
				loader42
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="battery">battery</h3>
			</div>
			<div class="price-body">
				<div class="battery"></div>
			</div>
			<div class="price-foot">
				loader43
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title">magnifier</h3>
			</div>
			<div class="price-body">
				<div class="magnifier" title="magnifier"></div>
			</div>
			<div class="price-foot">
				loader44
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="help">help</h3>
			</div>
			<div class="price-body">
				<div class="help"></div>
			</div>
			<div class="price-foot">
				loader45
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="cloud">cloud</h3>
			</div>
			<div class="price-body">
				<div class="cloud"></div>
			</div>
			<div class="price-foot">
				loader46
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="eye">eye</h3>
			</div>
			<div class="price-body">
				<div class="eye"></div>
			</div>
			<div class="price-foot">
				loader47
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="coffee_cup">coffee_cup</h3>
			</div>
			<div class="price-body">
				<div class="coffee_cup"></div>
			</div>
			<div class="price-foot">
				loader48
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="square">square</h3>
			</div>
			<div class="price-body">
				<div class="square"></div>
			</div>
			<div class="price-foot">
				loader49
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="circle">circle</h3>
			</div>
			<div class="price-body">
				<div class="circle"></div>
			</div>
			<div class="price-foot">
				loader50
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading-center-absolute">loading-center-absolute</h3>
			</div>
			<div class="price-body">
				<div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_four"></div>
					<div class="object" id="object_five"></div>
					<div class="object" id="object_six"></div>
					<div class="object" id="object_seven"></div>
					<div class="object" id="object_eight"></div>
					<div class="object" id="object_big"></div>
				</div>
			</div>
			<div class="price-foot">
				loader51
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="load-circle">load-circle</h3>
			</div>
			<div class="price-body">
				<div class="load-circle"></div>
				<p class="word">加载中...</p>
			</div>
			<div class="price-foot">
				loader52
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="dot-circle">dot-circle</h3>
			</div>
			<div class="price-body">
				<div class="dot-circle">
				  <div class="dot1"></div>
				  <div class="dot2"></div>
				</div>
			</div>
			<div class="price-foot">
				loader53
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loader-dot">loader-dot</h3>
			</div>
			<div class="price-body">
				<div class="loader-dot">
				  <div class="dot"></div>
				  <div class="dot"></div>
				  <div class="dot"></div>
				  <div class="dot"></div>
				  <div class="dot"></div>
				</div>
			</div>
			<div class="price-foot">
				loader54
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="circle-loader">circle-loader</h3>
			</div>
			<div class="price-body">
				<div class="circle-loader">
			        <div class="circle-line">
			            <div class="linecircle circle-blue"></div>
			            <div class="linecircle circle-blue"></div>
			            <div class="linecircle circle-blue"></div>
			        </div>
			        <div class="circle-line">
			            <div class="linecircle circle-yellow"></div>
			            <div class="linecircle circle-yellow"></div>
			            <div class="linecircle circle-yellow"></div>
			        </div>
			        <div class="circle-line">
			            <div class="linecircle circle-red"></div>
			            <div class="linecircle circle-red"></div>
			            <div class="linecircle circle-red"></div>
			        </div>
			        <div class="circle-line">
			            <div class="linecircle circle-green"></div>
			            <div class="linecircle circle-green"></div>
			            <div class="linecircle circle-green"></div>
			        </div>
			    </div>
			</div>
			<div class="price-foot">
				loader55
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading-center-absolute2">loading-center-absolute2</h3>
			</div>
			<div class="price-body">
				<div class="loading-center-absolute2">
					<div class="object2" id="first_object"></div>
					<div class="object2" id="second_object"></div>
					<div class="object2" id="third_object"></div>
				</div>
			</div>
			<div class="price-foot">
				loader56
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading-center-absolute3">loading-center-absolute3</h3>
			</div>
			<div class="price-body">
				<div class="loading-center-absolute3">
			      <div class="object3" id="object_one_3"></div>
			      <div class="object3" id="object_two_3"></div>
			      <div class="object3" id="object_three_3"></div>
			      <div class="object3" id="object_four_3"></div>
			    </div>
			</div>
			<div class="price-foot">
				loader57
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading-center-absolute4">loading-center-absolute4</h3>
			</div>
			<div class="price-body">
			    <div class="loading-center-absolute4">
			      <div class="object4" id="object_one_4"></div>
			      <div class="object4" id="object_two_4"></div>
			      <div class="object4" id="object_three_4"></div>
			      <div class="object4" id="object_four_4"></div>
			    </div>
			</div>
			<div class="price-foot">
				loader58
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading-center-absolute5">loading-center-absolute5</h3>
			</div>
			<div class="price-body">
				<div class="loading-center-absolute5">
			      <div class="object5" id="object_one_5"></div>
					<div class="object5" id="object_two_5"></div>
					<div class="object5" id="object_three_5"></div>
					<div class="object5" id="object_four_5"></div>
					<div class="object5" id="object_big_5"></div>
				</div>
			</div>
			<div class="price-foot">
				loader59
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="loading_progress">loading_progress</h3>
			</div>
			<div class="price-body">
				<div class="loading_progress">
				    <span></span>
				</div>
			</div>
			<div class="price-foot">
				loader60
			</div>
		</li>
		<li class="unit price-success col-sm-3">
			<div class="price-title">
				<h3 class="real-title" title="load_txt">load_txt</h3>
			</div>
			<div class="price-body">
		      	<div class="load_txt">LOADING<i>...</i></div>
			</div>
			<div class="price-foot">
				loader61
			</div>
		</li>
	</ul>
</div>
